# Моделирование температуры сплава в тигель ковше
Выпускной проект

## Описание
Чтобы оптимизировать производственные расходы, металлургический комбинат «Стальная птица» решил уменьшить потребление электроэнергии на этапе обработки стали. Для этого комбинату нужно контролировать температуру сплава. Наша задача — построить модель, которая будет её предсказывать.

## План работы

In [21]:
import pandas as pd

## Загрузка данных

In [35]:
def load_dataset(name, parse_dates=None, sep=',', decimal='.'):
    df = pd.DataFrame()
    try:
        df = pd.read_csv(f'/datasets/{name}.csv', sep=sep, decimal=decimal, index_col='key', parse_dates=parse_dates)
    except:
        df = pd.read_csv(f'https://code.s3.yandex.net/datasets/{name}.csv', sep=sep, decimal=decimal, index_col='key', parse_dates=parse_dates)
    df.sort_index(inplace=True)
    return df

In [30]:
data_arc_new		= load_dataset('data_arc_new', parse_dates=['Начало нагрева дугой', 'Конец нагрева дугой'])
data_bulk_new		= load_dataset('data_bulk_new')
data_bulk_time_new	= load_dataset('data_bulk_time_new', parse_dates=list(range(1, data_bulk_new.shape[1] + 1)))
data_gas_new		= load_dataset('data_gas_new')
data_temp_new		= load_dataset('data_temp_new', parse_dates=[1])
data_wire_new		= load_dataset('data_wire_new')
data_wire_time_new	= load_dataset('data_wire_time_new', parse_dates=list(range(1, data_wire_new.shape[1] + 1)))

## Осмотр данных

In [38]:
def explore_df(df):
    print('-' * 100)
    print('sample:')
    display(df.sample(5))
    print('-' * 100)
    print('\ninfo:\n')
    df.info()
    print('-' * 100)
    print('\ndescribe:\n')
    display(df.describe())
    print('-' * 100)
    print('\nlacunes:\n')
    print(df.isna().sum())
    print('-' * 100)
    print('\nfull duplicates:\n')
    print(df.duplicated().sum())
    print('\nunique keys:\n')
    print(df.index.unique().size)

### data_arc_new

In [39]:
explore_df(data_arc_new)

----------------------------------------------------------------------------------------------------
sample:

,Начало нагрева дугой,Конец нагрева дугой,Активная мощность,Реактивная мощность
key,,,,
55,2019-05-05 14:51:19,2019-05-05 14:57:03,0.838982,0.567044
2524,2019-08-11 08:44:02,2019-08-11 08:46:45,0.531088,0.335925
2269,2019-08-02 02:28:54,2019-08-02 02:30:32,0.265746,0.176570
2676,2019-08-17 05:29:24,2019-08-17 05:32:46,0.605881,0.462060
987,2019-06-10 15:00:56,2019-06-10 15:02:18,0.418179,0.273479

----------------------------------------------------------------------------------------------------

info:

<class 'pandas.core.frame.DataFrame'>
Index: 14876 entries, 1 to 3241
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Начало нагрева дугой  14876 non-null  datetime64[ns]
 1   Конец нагрева дугой   14876 non-null  datetime64[ns]
 2   Активная мощность     14876 non-null  float64
 3   Реактивная мощность   14876 non-null  float64
dtypes: datetime64[ns](2), float64(2)
memory usage: 1.1 MB
----------------------------------------------------------------------------------------------------

describe:

,Начало нагрева дугой,Конец нагрева дугой,Активная мощность,Реактивная мощность
count,14876,14876,14876.000000,14876.000000
mean,2019-07-05 12:25:51.921081088,2019-07-05 12:28:43.592027392,0.662752,0.438986
min,2019-05-03 11:02:14,2019-05-03 11:06:02,0.223120,-715.479924
25%,2019-06-03 23:18:23.249999872,2019-06-03 23:21:35,0.467115,0.337175
50%,2019-07-03 01:31:26.500000,2019-07-03 01:35:13,0.599587,0.441639
75%,2019-08-07 22:52:20.750000128,2019-08-07 22:56:47,0.830070,0.608201
max,2019-09-06 17:24:54,2019-09-06 17:26:15,1.463773,1.270284
std,NaN,NaN,0.258885,5.873485

----------------------------------------------------------------------------------------------------

lacunes:

Начало нагрева дугой    0
Конец нагрева дугой     0
Активная мощность       0
Реактивная мощность     0
dtype: int64
----------------------------------------------------------------------------------------------------

full duplicates:

0

unique keys:

3214